<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BaggageTracking</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="apple-touch-icon"  type="image/png" href="~/images.png" />
    <link rel="apple-touch-icon-precomposed"  type="image/png" href="~/images.png" />
    <link rel="apple-touch-startup-image"  type="image/png" href="~/images.png" />
    <link rel="icon"  type="image/png" href="~/images.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
          integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/BaggageTracking.styles.css" asp-append-version="true" />
    @RenderSection("header",false)
    <style>
        html {
            font-size: 14px;
        }

        html {
            position: relative;
            min-height: 100%;
        }

        .colorInherit {
            color: inherit;
        }

        .btn-circle {
            border-radius: 100%;
        }

        .main-color {
            color: #E81932;
        }

        .main-background {
            background-color: #232B38;
            color: #F0F0F0;
        }

        body {
            margin-bottom: 60px;
        }

        .baggage-container {
            padding-top: 200px;
        }

        .n-container {
            padding: 100px;
        }

        .input-ticket-code {
            font-size: 25px;
            width: 500px;
        }

        .search {
            width: 70px;
            ;
            font-size: 29px;
            flex-grow: 2;
        }

        .form {
            max-width: 650px;
            margin: 10px auto;
        }

        .baggage-item {
            position: relative;
        }

        #about{
            color:white ;
        }

        #about:hover{
            color:blue ;
        }
    </style>

</head>
<body>
    <header class="main-background">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm   border-bottom box-shadow mb-3">

            <div class="container-fluid">
                <a class="navbar-brand colorInherit" asp-area="" asp-controller="Home" asp-action="Index">BaggageTracking</a>
                 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a id="about" class="nav-link colorInherit"  href="https://github.com/eljn0/turkishairlineshackathon/tree/main/BaggageTracking">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - BaggageTracking - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
